/* CSS declarations go here */

body{
	height: 100%;
	widht: 100%;
	font-family: Optima;
}

#home_container{
	text-align: center;
	height: 100%;
	width: 100%;
}

#sunrise{
	margin: 0 auto;
	margin-top: -2%;
	width: 90%;
	height: 120px;
	bottom: 0px;
	background-color: yellow;
	opacity: 0.4;
	background-image:
    linear-gradient(
      white, orange, yellow
    );
    visibility: hidden;
    box-shadow: inset 0 0 2em white;
    border-radius: 60%;
    clear: both;
}

.trees{
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	width: 100%;
}

#home_container_1{
	text-align: center;
	height: 100%;
	width: 100%;
}

#fir_sure_sun{
	margin: 0;
	margin-top: 5%;
}

.doug_fir_photo{
	content: url('/firtreex2.png');
	display: inline-block;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 3%;
}


.doug_fir_top_bottom_photo{
	height: 60%;
	width: 90%;
	padding-bottom: 5%;
}

#fir_sure_sun{
	content: url('/fir_sure_sun.png');
	height: 40%;
	width: 40%;
	margin: 0 auto;
	clear: both;
}

#fir_sure_sun:hover{
	display: inline-block;
}

.sun_menu{
	border-color: black;
  	color: black;
  	background-color: white;
  	border-style: solid;
  	border-width: 2px;
  	padding: 0.3%;
  	display: inline-block;
  	margin: 0 auto;
  	text-decoration: none;
  	text-align: center;
  	font-family: Optima;
  	margin-top: 5%;
}

#break{
	padding-bottom: 20%;
}

#bottom{
	position: absolute;
}

#social_media_bar{
	text-align: center;
	padding-bottom: 5%;
}

.social_media_button{
	height: 5%;
	width: 5%;
	padding-left: 2%;
	padding-right: 2%;
	display: inline-block;
	margin: 0 auto;

}

#facebook{
	content: url('/facebook.png');
}

#twitter{
	content: url('/twitter.png');
}

#instagram{
	content: url('/instagram.png');
}

#big_cartel{
	content: url('/big_cartel.png');
}

/*ABOUT PAGE*/

#about_container{
	padding: 5%;
	background-image: url('/fir_sure_nw.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

.about_text{
	color: black;
	font-size: 26px;
	opacity: 1;
	/*font-weight: 400;*/
}

.my-container {
    position: relative;
    padding: 5%;
}
.my-container h1 {
	text-align: center;
	color: white;
    padding: 9%;
    position: relative;
    z-index: 2;
} 
.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
}

